.team{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top:150px;
}
.team_members{
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team_members img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
}
.team_members p:nth-child(2){
    font-size:20px; 
    font-weight: 700;
    margin:20px 0 8px 0;
}
.team_members p:nth-child(3){
    font-size:15px;
    margin-bottom: 15px;
}

.icons{
    display: flex;
}

.icons img{
    width: 40px;
    height: 40px;
    margin-left:10px;
    border-radius: 5px;
    cursor: pointer;
}

.slide_cursors{
    display: flex;
    justify-content: center;
    margin-top:120px;
}

.slide_cursors p{
    width: 16px;
    height: 16px;
    cursor: pointer;
    background-color:#00897b;
    border-radius: 50%;
    margin-left:10px;
}

.slide_cursors p:nth-child(1){
    background-color: #3949ab;
}

.slide_cursors p:hover{
    background-color: #3949ab;
    transition: .25s;
}