.teams{
    width: 100%;
    overflow: hidden;
    margin-top:150px;
    display: flex;
}
.team{
    display: flex;
    transition: 1s;
}
.team_members{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0 25px;
}

.team_members img{
    width: 500px;
    height: 400px;
    border-radius: 10px;
}
.team_members p:nth-child(2){
    font-size:20px; 
    font-weight: 700;
    margin:20px 0 8px 0;
}
.team_members p:nth-child(3){
    font-size:15px;
    margin-bottom: 15px;
}

.icons{
    display: flex;
}

.icons img{
    width: 40px;
    height: 40px;
    margin-left:10px;
    border-radius: 5px;
    cursor: pointer;
}

.slide_cursors{
    display: flex;
    justify-content: center;
    margin-top:120px;
}

.slide_cursors p{
    width: 16px;
    height: 16px;
    cursor: pointer;
    background-color:#00897b;
    border-radius: 50%;
    margin-left:10px;
}

.slide_cursors p:hover{
    background-color: #3949ab;
    transition: .25s;
}

@media screen and (max-width:1050px) {
    .team{
        display: flex;
        flex-direction: column;
    }
    .team_members{
        margin:20px 25px;
    }
    .team_members img{
        width: 100%;
        height: 100%;
    }
    .icons img{
        width: 32px;
        height: 32px;
    }
    .slide_cursors{
        display: none;
    }
    .team_members p:nth-child(2){
        margin: 20px 0px;
    }
}   