.contacts{
    background: url('bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.contacts_bg{
    background:rgba(40, 40, 39, 0.9);
    width:100%;
    height: 100%;
}

.contact_content{
    color:white;
}

.contacts_adresses{
    display: flex;
    justify-content: center;
}

.contact_adress{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.contact_adress img{
    width: 80px;
    height: 80px;
    margin-bottom: 30px;
}

.contact_adress p{
    font-size:20px;
    color:white;
    width: 70%;
}

.contact_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact_form_content{
    width: 100%;
}

.contact_form_places{
    display: flex;
    justify-content: center;
    margin-top:100px;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.contact_form_inputs{
    width: 60%;
    height: 100%;
    margin-bottom: 30px;
    display: flex;
}
.contact_form_inputs input {
     width: 100%;
     padding:0 15px;
     line-height: 60px;
     border-radius: 10px;
     border:none;
     margin-left:20px;
     outline: none;
     font-size: 20px;
 } 
 .contact_form_inputs input:first-child{
     margin-left:0;
 }
 .write_message{
     width: 100%;
 }
 .write_message textarea{
    border-radius: 10px;
    border: none;
    width: 59%;
    padding: 0 15px;
    height: 15vh;
    outline: none;
    font-size: 20px;
    resize: none;
    line-height: 20px;
}
.send_button{
    display: flex;
    width: 60%;
    justify-content: flex-end;
    margin:30px 0 100px 0;
}

.send_button button{
    font-size:20px;
    font-weight: bold;
    background-color:white;
    padding:15px 60px;
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase;
    color:#656565;
    cursor: pointer;
    border:none;
}

.modal_contact{
    background-color: white;
    width: 50%;
    color:#333;
}

.footer{
    background-color:white;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer b{
    font-size:20px;
    color:#212121;
}

@media screen and (max-width:1065px) {
    .contacts_adresses {
        flex-direction: column;
    }
}