.btns{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.btns a{
    font-size: 20px;
    text-transform: uppercase;
    border: 2px solid #00897b;
    padding: 15px 25px;
    cursor: pointer;
    transition: 0.25s;
    margin: 100px 0 0 10px;
}

.btns a:hover{
    background-color:#00897b;
    color:white;
}
.cards{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin:50px 0;
}
.cards_content{
    position: relative;
    background: rgba(0,0,0,0.5);
    width: 370px;
    height: 370px;
    margin:25px;
}
.cards_about{
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    color:white;
    z-index: 200;
    width: 100%;
    height: 100%;
    transition: .25s;
    background: rgba(0,0,0,0.5);
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cards_content img:hover + .cards_about{
    display: flex;
}

.cards_content img{
    width: 100%;
    height: 100%;
}

@media screen and (max-width:550px) {
    .btns a{
        font-size: 7px;
        padding: 7px;
        margin: 0 10px;
        margin-top:100px;
    }
}
