.navbar{
    height: 100px;
    color: #212121;
    display: flex;
    justify-content: center;
}
.nav_distance{
    display: flex;
    align-items: center;    
    justify-content: space-around;
    height: inherit;
    width: inherit;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
}
.nav_items a{
    text-decoration: none;
    margin:0 50px;
    cursor: pointer;
}
.nav_items a:first-child{
    margin-left:0;
}
.logo h2{
    cursor: pointer;
    font-size:25px;
}

.burger_menu{
    display: none;
}

.burger_menu p{
    cursor: pointer;
    font-size:26px;
}

.nav_items_mobile{
    display: flex;
}

.nav_items_content_mobile{
    width: 60%;
    height: 100vh;
    background-color: white;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left:0;
    transition: .3s;
}

.mobile_all_content{    
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-around;
}

.nav_items_content_mobile a{
    font-size: 26px;
    margin:10px 0;
    cursor: pointer;
}

@media screen and (max-width:1065px) {
    .burger_menu{
        display: flex;
    }
    .nav_items{
        display: none;
    }
    .nav_distance{
        justify-content: space-between;
    }
}