.pricing_plan{
    background-color: #f0f1f1;
}
.pricing_plan p{
    margin-bottom: 100px;
}

.pricing_cards{
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
    width: 100%;
}

.pricing_card{
    margin: 0 20px;
    background: url('card.jpg');
    width: 370px;
    background-repeat: no-repeat;
    color:white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.pricing_card:hover{
    box-shadow: 0px 0px 10px 5px silver;
    background-repeat: no-repeat;
    transition: .40s;
}

.pricing_card p{
    margin:25px 0;
    font-size:25px;
    align-items: center;
    width: auto;
}

.price{
    display: flex;
    width: 70%;
    justify-content: center;
}

.price p:nth-child(2){
    font-size: 50px;
}
.price p:nth-child(3){
    display: inline;
    font-size:17px;
    display: flex;
    align-items: flex-end;
    height: 40%;
}

.price_about{
    margin: 30px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price_about p{
    font-size: 17px;
    color:#212121;
    border-bottom: 1px solid #bfbfbf;
    width: 50%;
    padding-bottom: 10px;
}

.price_order{
    display: flex;
    width: 100%;
    justify-content: center;
}

.price_order a{
    color:#212121;
    font-size:20px;
    border:2px solid #212121;
    padding:15px 35px;
    cursor: pointer;
    margin-bottom: 15px;
}

.price_order a:hover{
    border:2px solid #00897b;
    background-color:#00897b;
    text-transform: uppercase;
    color:white;
    transition: .25s;
}

.modal{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_content{
    width:50%;
    height: 50%;
    background-color: white;
}
.modal_close{
    width: 99%;
    display: flex;
    justify-content: flex-end;
}

.modal_close{
    color:red;
    cursor: pointer;
    font-size:20px;
}

.modal_order{
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.modal_order h2{
    margin-bottom: 50px;
}

.price_about input{
    background: none;
    border:none;
    border-bottom: 1px solid silver;
    padding:18px 0;
    outline: none;
    font-size:20px;
}

.price_about input:focus{
    transition: .5s;
    border-bottom: 1px solid #00897b;
}

.send_content{
    width: 50%;
    height: 50%;
    background: white;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.send_content p{
    margin:20px 0;
}

@media screen and (max-width:830px) {
    .pricing_cards{
        flex-direction: column;
        align-items: center;
    }
    .pricing_card{
        margin: 20px 0;
    }
}